<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.mailmanager.dao.mapper.FileCheckResultMapper">

    <select id="selectMaxFileSeqFromFileHash" parameterType="string" resultType="int">
    <![CDATA[
        SELECT
            MAX(FILE_SEQ)
        FROM
            FILE_CHECK_RESULT
        WHERE
            FILE_HASH = #{fileHash}
    ]]>
    </select>

    <insert id="insert" parameterType="jp.mailmanager.dao.entity.FileCheckResult">
    <![CDATA[
        INSERT INTO FILE_CHECK_RESULT
        ( FILE_HASH, FILE_SEQ, INPUT_DIR_PATH, INPUT_FILE_NAME, OUTPUT_DIR_PATH, OUTPUT_FILE_NAME, REGISTER_DATETIME, REGISTER_USER_ID, UPDATED_DATETIME, UPDATED_USER_ID, VERSION )
        VALUES
        ( #{fileHash}, #{fileSeq}, #{inputDirPath}, #{inputFileName}, #{outputDirPath}, #{outputFileName}, #{registerDatetime}, #{registerUserId}, #{updatedDatetime}, #{updatedUserId}, #{version} )
    ]]>
    </insert>

</mapper>
