<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.gr.java_conf.star_diopside.mailmanager.dao.mapper.FileCheckResultMapper">

    <select id="getMaxExecutionId" resultType="int">
    <![CDATA[
        SELECT
            MAX(EXECUTION_ID)
        FROM
            FILE_CHECK_RESULT
    ]]>
    </select>

    <select id="getMaxFileSeq" parameterType="jp.gr.java_conf.star_diopside.mailmanager.dao.entity.FileCheckResultPK" resultType="int">
    <![CDATA[
        SELECT
            MAX(FILE_SEQ)
        FROM
            FILE_CHECK_RESULT
        WHERE
            EXECUTION_ID = #{executionId} AND
            FILE_HASH = #{fileHash}
    ]]>
    </select>

    <insert id="insert" parameterType="jp.gr.java_conf.star_diopside.mailmanager.dao.entity.FileCheckResult">
    <![CDATA[
        INSERT INTO FILE_CHECK_RESULT
        ( EXECUTION_ID, FILE_HASH, FILE_SEQ, INPUT_DIR_PATH, INPUT_FILE_NAME, OUTPUT_DIR_PATH, OUTPUT_FILE_NAME, REGISTER_DATETIME, REGISTER_USER_ID, UPDATED_DATETIME, UPDATED_USER_ID, VERSION )
        VALUES
        ( #{executionId}, #{fileHash}, #{fileSeq}, #{inputDirPath}, #{inputFileName}, #{outputDirPath}, #{outputFileName}, #{registerDatetime}, #{registerUserId}, #{updatedDatetime}, #{updatedUserId}, #{version} )
    ]]>
    </insert>

</mapper>
